@import "./variables.style.scss";
@import "./responsive.style.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.app-container {
  max-width: 100%;
  margin: 0 auto;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: white;
  color: $main-color; 
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  overflow-y: auto; 
  width: 100vw
}

.menuContainer {
  width: 200px;
  padding: 5px 20px;
  border-right: 1px solid lightgrey;

  .container {
    width: calc(100vw - 17px); /* Adjust the value based on your browser's scrollbar width */
  }
}

.contentContainer {
  padding: 20px;
  flex: 1;
}




