.masters {
  // min-width: 100vw;
  // min-height: 100vh;
  .table {
    margin-top: 20px;
    width: 80vw;
    height: 70vh;
  }
  .info {
    button {
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .searchContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 20px auto;
   
   
  }
  
  label {
    margin-right: 10px;
    margin-bottom: 5px;
   
  }
  
  .searchLabel{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200;
  }
  select,
  button {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 500
  }
 
  /* Add more styles as needed */
  
}

